@{
    ViewBag.Title = "Home Page";
}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/export-data.js"></script>
<script src="http://code.highcharts.com/modules/accessibility.js"></script>

<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 5px;
        text-align: left;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>SVG Example</h3>

            <div id="graph"></div>
        </div>
    </div>
</div>


<table>
    <tr>
        <th>Type</th>
        <th>2018 Quantity Sold</th>
        <th>2019 Quantity Sold</th>
    </tr>
    <tr>
        <td>Bicycle</td>
        <td>200</td>
        <td>220</td>
    </tr>
    <tr>
        <td>Car</td>
        <td>100</td>
        <td>94</td>
    </tr>
    <tr>
        <td>Truck</td>
        <td>150</td>
        <td>168</td>
    </tr>
    <tr>
        <td>Motorcycle</td>
        <td>40</td>
        <td>55</td>
    </tr>
    <tr>
        <td>Jet</td>
        <td>11</td>
        <td>14</td>
    </tr>
</table>

<script type="text/javascript">
    var eighteen = [];
    var ninteen = [];
    var categoreis = [];

    @foreach (var item in ViewBag.twentyEighteen)
    {
        @:eighteen.push(@item);
    }

    @foreach (var item in ViewBag.twentyNinteen)
    {
        @:ninteen.push(@item);
    }

    @foreach (var item in ViewBag.categories)
    {
        @:categoreis.push('@item');
    }


    Highcharts.chart('graph', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Types of Vehicles Sold'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: categoreis,
        title: {
            text: null
        }
        },
    yAxis: {
        min: 0,
        title: {
            text: 'Quantity',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
        },
    tooltip: {
        valueSuffix: ''
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
            }
        },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Year 2018',
        data: eighteen
    }, {
        name: 'Year 2019',
        data: ninteen
            }]

});
</script>


